//Colour
//Font
$text-primary: #fff;            //Main
$text-secondary: #757575;      //Footer
$text-tertiary: #000;          //Input
$text-download: #0071eb;      //Downloading Animation
$text-placeholder: #8c8c8c;   //Placeholder
//Background
$bg-primary: #000;          //Main
$bg-secondary: #303030;     //FAQ
$bg-tertiary: #e50914;      //Submit, link
$bg-hover: #f40612;         //Hover
//Border
$b-primary: #222;           //Sections
$b-secondary: #8c8c8c       //Input